/**********************************
*						styles.css						*
**********************************/

body {
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	font-family: "Century Gothic", Calibri, sans-serif;
}

html {
	margin: 0px;
	padding: 0px;
}

section {
	width: 100%;
	min-height: 100%;
}

/*-------------------------------
	Header - Footer
--------------------------------*/

header {
	width: 100%;	
	text-align: center;
	border-bottom: 2px solid white;
	color: white;
	background-color: #c0d9e5;
}

footer {
	padding: 10px 0;
	width: 100%;
	text-align: center;
	border-top: 2px solid white;
	background-color: grey;	
	clear: left;
}

footer p {
	text-transform: uppercase;
	color: white;
	padding: 25px;
}

/*-------------------------------
	Titres
--------------------------------*/

h1 {
	font-size: 45px;
	margin: 0;
	padding: 50px;
	text-transform: uppercase;
}

h2 {
	text-align: center;
}

.right h2 {
	text-align: center;
	color: white;
	text-transform: uppercase;
	padding: 20px;
}

/*-------------------------------
	Images
--------------------------------*/

img {
	height: 70%;
	display: block;
	margin: 0 auto;
	
	/** Animation **/
	-webkit-transition: box-shadow .4s;
	-moz-transition: box-shadow .4s;
	-o-transition: box-shadow .4s;
	transition: box-shadow .4s;
}

img:hover {
	box-shadow: 0px 0px 10px grey;
}

/*-------------------------------
	Boutons
--------------------------------*/

.left a {
	color: #0092ca;
	background-color: RGBa(0, 0, 0, 0);
	border: 1px solid #0092ca;
	text-decoration: none;
	padding: 10px 20px;
	margin: 30px 40px;
	display: block;
	text-transform: uppercase;
	text-align: center;
	
	/** Animation **/
	-webkit-transition: background-color .4s;
	-moz-transition: background-color .4s;
	-o-transition: background-color .4s;
	transition: background-color .4s;
}

.left a:hover {
	color: white;
	background-color: #0092ca;
}

/*-------------------------------
	Partie gauche
--------------------------------*/

.left {
	width:30%;
	float: left;
}

/*-------------------------------
	Partie droite
--------------------------------*/

.right {
	width: 70%;
	background-color: #0092CA;
	float: left;
}


/*-------------------------------
	Formulaire
--------------------------------*/

fieldset {
	color: white;
	border: 1px solid white;
}

form {
	padding: 30px;
}

/** Inputs type text **/
.inputs {
	width: 50%;
	margin: 0 auto;
}

.group {
	position: relative;
	margin-top: 25px;
	margin-bottom: 45px;
}

.group input {
	font-size: 18px;
	padding: 10px 0;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #FFF;
	background-color: rgba(0,0,0,0);
	color: white;
}

.group input:focus {
	outline: none;
}

.group label {
	color: #CCC;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	-moz-transition: all .2s;
	transition: all .2s;
}

.group input:focus ~ label, input:valid ~ label {
	top: -20px;
	left: 0px;
	font-size: 14px;
	color: #FFF;
}

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: white; 
	-webkit-transition: .2s ease all;
	-moz-transition: .2s ease all;
	-o-transition: .2s ease all;
	transition: .2s ease all;
}

.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* Input type date */

input[type="date"] {
	width: 100%;
	margin: 15px 0;
	height: 25px;
}

/* Input type submit */

input[type="submit"] {
	display: block;
	margin: 0 auto;
	padding: 10px 20px; 
	text-transform: uppercase;
	color: white;
	font-size: 15px;
	background-color: rgba(0,0,0,0);
	border: 1px solid white;
	
	/** Animation **/	
	-webkit-transition: background-color .4s, color .4s;
	-moz-transition: background-color .4s, color .4s;
	-o-transition: background-color .4s, color .4s;
	transition: background-color .4s, color .4s;
}

input[type="submit"]:hover {
	background-color: white;
	color: #0092CA;
}

/*-------------------------------
	Responsive
--------------------------------*/

@media screen and (max-width: 780px) {
	.inputs {
		display: initial;
	}
	.left {
		width: 100%;
	}
	.right {
		width: 100%;
		padding: 10px 0;
		margin: auto;
	}
	h1 {
		font-size: 35px;
	}
}

/*-------------------------------
	Tableaux
--------------------------------*/

table {
	width: 90%;
	margin: 15px auto;
	border-collapse: collapse;
}

td, th {
	padding: 5px 10px;
}

td {
	text-align: center;
}

thead th {
	text-transform: uppercase;
	color: white;
	background-color: #ea6153;
}

tr:nth-child(even) {
	background-color: #e9e9e9;
}

tr:nth-child(odd) {
	background-color: #f6f6f6;
}

tr {
	/** Animation **/
	-webkit-transition: color .25s, background-color 0.25s;
	-moz-transition: color .25s, background-color 0.25s;
	-o-transition: color .25s, background-color 0.25s;
	transition: color .25s, background-color 0.25s;
}

tbody tr:hover {
	color: white;
	background-color: #27ae60;
}

/* TESTS */

